[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = IN
ST = Jammu and Kashmir
L = Jammu
O = Cybersecurity Lab
OU = Network Security
CN = localhost

[v3_req]
basicConstraints = critical, CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = DNS:localhost
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid
